{% extends 'menu/main.html' %}
{% load static %}
{% block content %}
<div class="col-md-3" id="sidebar">
            <div class="theiaStickySidebar">
				<div id="cart_box" >
					<h3>Your order <i class="fa fa-shopping-cart"></i></h3>
					<table class="table table_summary">
					<tbody>
					{% for item in items %}
						<tr>
							<td>
								<a href="#0" class="remove_item removeFromCart"  data-dish="{{item.dish.dishId}}"><i class="fa fa-minus-circle"></i></a> <strong>{{item.quantity}}</strong> {{item.dish.dishName}}
							</td>
							<td>
								<strong class="pull-right">${{item.dish.distPrice}}</strong>
							</td>
						</tr>
					{% endfor %}
					</tbody>
					</table>
					<hr>
                    
					<hr>
					<table class="table table_summary">
					<tbody>
					
					<tr>
						<td class="total">
							 TOTAL <span class="pull-right">{{order.get_cart_total}}</span>
						</td>
					</tr>
					</tbody>
					</table>
					<hr>
					 <h5>Table Number</h5>
                    <label>
                    <input type="number" id="table_number">
                    </label>
                     <button  class='btn-outline-secondary add-btn tableNumber_button', id='tableNumber_buttonid'>ok</button>
                    <br>
                    
					 <a class="btn_full" id ='order_now_btn'style="visibility: hidden"href="{% url 'email' %}">Order now</a>
					
					
				</div><!-- End cart_box -->
                </div><!-- End theiaStickySidebar -->
			</div><!-- End col-md-3 -->
{% endblock content %}